<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Gold</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container-fluid p-5">

        <div class="row justify-content-start">
            <div class="col-2">
                <div class="card bg-light border-dark">
                    <div class="card-body d-flex justify-content-between align-items-top m-1 p-0">
                    <p class="m-0 p-0">Total Gold:</p>
                    <p class="m-0 p-0">{{session['gold']}}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row m-5">
            <div class="col">
                <div class="card bg-light text-dark border-dark">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <h5 class="card-title">
                            Farm
                        </h5>
                        <p class="card-text">earns 10-20 gold</p>
                        <form action="/process_gold" method="post">
                            <input type="hidden" name="building" value="farm">
                            <button class="btn btn-primary">Go!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light text-dark border-dark">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <h5 class="card-title">
                            Cave
                        </h5>
                        <p class="card-text">Earns 5-10 gold</p>
                        <form action="/process_gold" method="post">
                            <input type="hidden" name="building" value="cave">
                            <button class="btn btn-primary">Go!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light text-dark border-dark">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <h5 class="card-title">
                            House
                        </h5>
                        <p class="card-text">Earns 2-5 gold</p>
                        <form action="/process_gold" method="post">
                            <input type="hidden" name="building" value="house">
                            <button class="btn btn-primary">Go!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light text-dark border-dark">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <h5 class="card-title">
                            Casino
                        </h5>
                        <p class="card-text">Earns/Takes 0-50 gold</p>
                        <form action="/process_gold" method="post">
                            <input type="hidden" name="building" value="casino">
                            <button class="btn btn-primary">Go!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Activities:</p>
            </div>
        </div>
        <div class="row">
            <div class="col bg-light">
                <div class="activity-panel p-2">
                    {% for i in range(session['activities']|length -1, -1, -1) %}
                    {% if session['activities'][i]| int <= 0 %}
                    <p class="m-0 p-0" style="color: red;"> You lost {{session['activities'][i]}} gold</p>
                    {% else %}
                    <p class="m-0 p-0" style="color: green;"> You earned {{session['activities'][i]}} gold</p>
                        
                    {% endif %}
                        
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="row my-3 justify-content-center">
            <div class="col-2">
                <form action="/reset" method="get" class="m3">
                    <button class="btn btn-primary btn-xl m4">Reset</button>
                </form>
            </div>
        </div>



    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>