*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    margin: 2em;
    justify-content: center;
}
.board{
    display: grid;
    grid-template-columns: repeat(8, 8fr);
    grid-template-rows: repeat(8, 8fr);
    column-gap: 0px;
    row-gap: 0px;
    border: 2px solid black;
}
.red{
    background-color: red;
    height: 75px;
    width: 75px;
}
.black{
    background-color: black;
    height: 75px;
    width: 75px;
}