<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/go" method="post">
        <label for="text">Name:</label>
        <input type="text" name="name">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <label for="pet"> Favorite Pet</label>
        <select for="pet" name="pet">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="capybara">Capybara</option>
        </select>
        <button type="submit">Send!</button>
    </form>

</body>
</html>